* {
  font-family: 'Montserrat', sans-serif;
}


.baru {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
}


/* Mengatur tata letak untuk elemen navbar-nav agar berada di tengah */
.gajah {
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal ke tengah */
  width: 100%;
}


.navbar {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
  width: 100%;
  padding-left: 20px;
}

.navbar-atur
{
  margin-left: 10px
}


.navbar-nav .nav-link {
  color: white !important;
  width: fit-content;
}

  .blue{
    font-family: 'Franklin Gothic Medium';

  }

  
  .nav-link.active {
    width: fit-content;
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }

  .bay {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  footer a {
    color: white;
  }

.remove-bullet ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.custom-content {
  flex: 1;
  max-width: 100%;
  margin-right: 15%; /* Atur jarak antara konten utama dan daftar pos */

}

.custom-post-list {
  flex: 1;
  max-width: 100%;
  margin-left:auto; /* Atur jarak antara konten utama dan daftar pos */

}

/* Hover effect */
.btn-danger {
  background-image: linear-gradient(to right, #000000, #190e0e); /* Neon green gradient on hover */
}



.banner-text {
  font-size: 36px;
  color: #0c0000;
  padding-left: 4%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main {
  height: max-content;
  background: url(../assets/background1.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: cover;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Styles untuk overlay pada latar belakang */
.main {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
}



/* Pastikan konten di atas overlay */
.main > * {
  position: relative;
  z-index: 1;
}






.text-container h1 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans';
}

.text-container p {
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS';
}

.container h2 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans';
}

.container p {
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS',  'Lucida Grande',  Arial;
}


.bayi {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.bayi.img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.row.text-center {
  display: flex;
  align-items: stretch;
}

.col-md-6 p {
  flex-grow: 1;
}
footer a {
  color: rgb(255, 255, 255);
}

.footerp p{
color: #ffffff;
}
.footerp h6{
color: #ffffff;
}

.background-transparan{
  background:  linear-gradient(45deg,#000000,#152325,#2d4d4e);
}



/* Gaya tombol pada card */
.card .btn-d
.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: 10px; /* Mengatur sudut melengkung */
  overflow: hidden; /* Menghilangkan konten yang melampaui batas container yang melengkung */
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1); /* Menambahkan box shadow di pinggir container */
}

.card {
  background:linear-gradient( #ffffff);
  color: #000000;
  border: none;
}

.buah {
  box-shadow: 0 0 0 10px #000000, 0 0 0 15px #FFFFFF;
  transition: box-shadow 0.5s;
  width: 400px; /* Ubah nilai ini sesuai dengan kebutuhan Anda */
  height: auto; /* Ini akan menjaga rasio aspek gambar */
  border-radius: 45px;
}

.buah:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px rgb(40, 40, 55);
}



.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  background: url('../assets/26982.jpg');
  opacity: 0.5; /* Sesuaikan tingkat transparansi sesuai kebutuhan */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; /* Pastikan z-index lebih rendah dari gambar dan teks */
}

.text-container {
  position: relative;
}

.text-container::after {
  content: "";
  background: url('../assets/background\ tulisan.jpg');
  opacity: 0.5; /* Sesuaikan tingkat transparansi sesuai kebutuhan */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; /* Pastikan z-index lebih rendah dari teks */
}


a {
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
  color: inherit; /* Menggunakan warna teks yang diwarisi dari elemen induk */
}

@media (max-width: 1000px) {
  .home-header {
    background-size: 5%;
  }

  .bayi {
    display: flex;
    flex-direction: column; /* Mengatur tata letak menjadi kolom pada tampilan hp */
    align-items: center; /* Mengatur penempatan horizontal ke tengah */
  }
  .image-container img {
    width: 200px; /* Ubah nilai ini sesuai dengan kebutuhan Anda */
    height: auto; /* Ini akan menjaga rasio aspek gambar */
  }

  .image-container {
    margin-bottom: 20px; /* Memberikan jarak antara gambar dan teks */
  }


  .text-container h1 {
    margin-bottom: 10px; /* Memberikan jarak antara h1 dan gambar */
    text-align: center; /* Mengatur teks agar berada di tengah */

  }

  .banner-text,
  .text-container h1,
  .text-container p {
    font-size: 24px;
  }



  .gajah {
    display: flex;
    justify-content: left; /* Mengatur posisi horizontal ke tengah */
    width: 100%;
  }
}


