* {
  font-family: 'Montserrat', sans-serif;
}

.main {
  height: max-content;
  background: url(../assets/background1.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: cover;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Styles untuk overlay pada latar belakang */
.main {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
}



/* Pastikan konten di atas overlay */
.main > * {
  position: relative;
  z-index: 1;
}






.baru {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
}


/* Mengatur tata letak untuk elemen navbar-nav agar berada di tengah */
.gajah {
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal ke tengah */
  width: 100%;
}




.navbar {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
  width: 100%;
  padding-left: 20px;
}

.navbar-atur
{
  margin-left: 10px
}


.navbar-nav .nav-link {
  color: white !important;
  width: fit-content;
}

  
  .nav-link.active {
    width: fit-content;
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }

.remove-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}


.banner-text {
  font-size: 36px;
  color: #070606;
  padding-left: 4%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-container h1 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans';
}

.text-container p {
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS';
}

.container h2 {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans';
}

.container p {
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS',  'Lucida Grande',  Arial;
}


.bayi {
  display: flex;
  align-items: center;
}


.image-container {
  margin-right: 20px;
  
}

.bayi.img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.buah {
  box-shadow: 0 0 0 10px #000000, 0 0 0 15px #FFFFFF;
  transition: box-shadow 0.5s;
  width: 400px; /* Ubah nilai ini sesuai dengan kebutuhan Anda */
  height: auto; /* Ini akan menjaga rasio aspek gambar */
  border-radius: 45px;
}

.buah:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px rgb(40, 40, 55);
}



footer a {
  color: rgb(255, 255, 255);
}

.footerp p{
color: #ffffff;
}
.footerp h6{
color: #ffffff;
}

.background-transparan{
  background:  linear-gradient(45deg,#000000,#152325,#2d4d4e);
}

.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  background: url('../assets/26982.jpg');
  opacity: 0.5; /* Sesuaikan tingkat transparansi sesuai kebutuhan */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; /* Pastikan z-index lebih rendah dari gambar dan teks */
}

.text-container {
  position: relative;
}

.text-container::after {
  content: "";
  background: url('../assets/background\ tulisan.jpg');
  opacity: 0.5; /* Sesuaikan tingkat transparansi sesuai kebutuhan */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; /* Pastikan z-index lebih rendah dari teks */
}

a {
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
  color: inherit; /* Menggunakan warna teks yang diwarisi dari elemen induk */
}

.link-decoration li {
  list-style: none; /* Remove bullets */
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .home-header {
    background-size: 5%;
  }
  

  .banner-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .banner-text,
  .text-container h1,
  .text-container p {
    font-size: 24px;
  }



  .main {
    height: max-content;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: cover;
    padding-top: 20px;
    padding-bottom: 10px;
  }

/* Menyesuaikan tata letak untuk setiap elemen nav-link di dalam navbar */
.gajah {
  display: flex;
  justify-content: left; /* Mengatur posisi horizontal ke tengah */
  width: 100%;
}

.bayi {
  display: flex;
  flex-direction: column; /* Mengatur tata letak menjadi kolom pada tampilan hp */
  align-items: center; /* Mengatur penempatan horizontal ke tengah */
}
.image-container img {
  width: 200px; /* Ubah nilai ini sesuai dengan kebutuhan Anda */
  height: auto; /* Ini akan menjaga rasio aspek gambar */
}

.image-container {
  margin-bottom: 20px; /* Memberikan jarak antara gambar dan teks */
}


.text-container h1 {
  margin-bottom: 10px; /* Memberikan jarak antara h1 dan gambar */
  text-align: center; /* Mengatur teks agar berada di tengah */

}

}


