* {
  font-family: 'Montserrat', sans-serif;
}


.baru {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
}


/* Mengatur tata letak untuk elemen navbar-nav agar berada di tengah */
.gajah {
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal ke tengah */
  width: 100%;
}




.navbar {
  background: linear-gradient(45deg, #000000,#010101c3,#000000c3);
  width: 100%;
  padding-left: 20px;
}

.navbar-atur
{
  margin-left: 10px
}


.navbar-nav .nav-link {
  color: white !important;
  width: fit-content;
}

  .blue{
    font-family: 'Franklin Gothic Medium';

  }

  
  .nav-link.active {
    width: fit-content;
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }


  a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* Optional: Remove underline */
}

.video-frame {
  position: relative;
  cursor: pointer;
}
.video-frame img {
  width: 100%;
  height: auto;
  border: 5px solid #934242; /* Tambahkan bingkai putih */
}
.modal-video iframe {
  width: 100%;
  height: 100%;
}

.video {
  border: 2px solid rgb(255, 1, 1);
  border-radius: 5px;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
}


.video h2 {
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS',  'Lucida Grande',  Arial;
}

footer a {
  color: rgb(255, 255, 255);
}

.footerp p{
color: #ffffff;
}
.footerp h6{
color: #ffffff;
}


.background-transparan{
  background:  linear-gradient(45deg,#000000,#152325,#2d4d4e);
}

a {
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
  color: inherit; /* Menggunakan warna teks yang diwarisi dari elemen induk */
}

.remove-list ul {
  list-style-type: none;
margin: 0;
padding: 0;
}

.link-decoration li {
  list-style: none; /* Remove bullets */
}
@media (max-width: 1000px) {
  .home-header {
    background-size: 5%;
  }

  .banner-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .banner-text,
  .text-container h1,
  .text-container p {
    font-size: 24px;
  }



  .main {
    height: max-content;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: cover;
    padding-top: 20px;
    padding-bottom: 10px;
  }

/* Menyesuaikan tata letak untuk setiap elemen nav-link di dalam navbar */
.gajah {
  display: flex;
  justify-content: left; /* Mengatur posisi horizontal ke tengah */
  width: 100%;
}


}